<div class="sidebar-heading text-center py-4 primary-text-color fs-4 fw-bold text-uppercase border-bottom">Welcome Back</div>
<div class="list-group list-group-flush my-3">

    <button type="button" id="btnDash" onclick="loadDashboard()" class=" list-group-item list-group-item-action bg-transparent second-text-color">
        <i class="fas fa-tachometer-alt me-2"></i>Dashboard
    </button>
    <button type="button" id="btnartc" onclick="loadArticle()" class=" list-group-item list-group-item-action bg-transparent second-text-color " >
        <i  class="fas fa-book me-2"></i>Articles
    </button>

    <button type="button" id="btnprfl" onclick="" class=" list-group-item list-group-item-action bg-transparent second-text-color ">
        <i  class="fas fa-user me-2"></i>Categories
    </button>
    <a href="http://localhost/PlanetDEV/Controller/logOut.php" class="list-group-item list-group-item-action bg-transparent text-danger fw-bold"><i
            class="fas fa-power-off me-2"></i>Logout</a>
</div>